aiolimiter
anyio
certifi
cffi
charset-normalizer
cryptography
dill
h11
httpcore
httpx
idna
lxml
multiprocess
pathos
Pillow
pox
ppft
pycparser
PyExecJS
python-telegram-bot[rate-limiter]==20.2
PyYAML
requests
rfc3986
six
sniffio
tqdm
translators
urllib3
